@import "../node_modules/bulma/bulma.sass";
@import "./spacing.scss";
@import "./transitions.scss";
@import "./blog.scss";

html, body {
    min-height: 100vh !important;
    height: 100vh !important;
}

.site {
    display: flex;
    min-height: 100% !important;
    height: 100% !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.site-container {
    flex: 1 !important;
    min-height: 100% !important;
    min-width: 100% !important;
}

.highlight-top-bar {
    border-top: 7px solid #1978b7;
}

div.navbar-start > a.navbar-item.is-active {
    border-bottom: 3px solid #E36410 !important;
}

.has-bottom-highlight {
    border-bottom: 10px solid #E36410 !important;
}

.container-into-hero {
    margin-top: -140px;
}

.article-admin-column img {
    max-width: 100%;
}

#notify-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 10000;
}

#bottom {
    margin-bottom: 150px;
    padding: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 5px;
    z-index: 9999;
    margin: 0;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.avatar {
    border-radius: 50%;
}

.has-text-vcentered {
    display: flex;
    align-items: center;
}

[v-cloak] { 
    display: none
}

.has-footer-background {
    background-color: #fafafa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23d9e6ee' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.has-hero-background {
    background-color: #209cee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%231886ce' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
